name: GET REPO name

on:
  workflow_dispatch: # The manual start Workflow

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest
    environment:
      name: testcp
#    env:
#      DOCKER_IMAGE_NAME: payload-cms # Назва вашого Docker образу
#      #CONTAINER_NAME: your-app-container # Назва контейнера, який буде запущено
#      DOCKER_ARCHIVE_NAME: $DOCKER_IMAGE_NAME.tar # Ім'я архіву образу
    
    steps:
    - name: Checkout Repository
      uses: actions/checkout@v4 # get code from git repo

    - name: Get repo name
      run: |
        echo "REPO_NAME=$(echo $GITHUB_REPOSITORY | cut -d'/' -f2)" >> $GITHUB_ENV
        echo "IMAGE_D=$(echo $GITHUB_REPOSITORY | cut -d'/' -f2).tar" >> $GITHUB_ENV
        echo "check is REPO_NAME has var"
        echo $REPO_NAME
        echo "REPO name is "
        echo "REPO_NAME=$(echo $GITHUB_REPOSITORY | cut -d'/' -f2)"
        REPO_NAME=$(echo $GITHUB_REPOSITORY | cut -d'/' -f2)
        #export REPO_NAME
        echo $REPO_NAME
        echo "repo name is all"
        echo $GITHUB_REPOSITORY

        echo "try to get var from git environment"
        echo ${{ env.REPO_NAME }}
        echo ${{ env.IMAGE_D }}

    - name: Get var from previous step
      env:
        DOCKER_IMAGE: ${{ env.REPO_NAME }}
        IMAGE: ${{ env.IMAGE_D }}
      run: |
        echo $DOCKER_IMAGE
        echo $IMAGE
